<div class="container ">
  <div class="row">
    <div class="col-md-6">
     <img src="./assets/img/coffeebag.png" alt="coffee bag image">
    </div>

    <div class="col-md-6">
      <nav class="breadcrumb" id="detail-text">
        <a class="breadcrumb-item" routerLink="">Home</a>
        <a class="breadcrumb-item" routerLink="coffee">Coffee</a>
      </nav>
      <h1>{{(coffeeToDisplay | async)?.name}}</h1>
      <hr id="black"align="left" width="10%">
      <h3>From: ${{(coffeeToDisplay | async)?.price}}</h3>
      <br>
      <h3>{{coffeeToDisplay.region}}</h3>
      <p><b>Producer</b> {{(coffeeToDisplay | async)?.producer}}</p>
      <p><b>Cultivar</b> {{(coffeeToDisplay | async)?.cultivar}}</p>
      <p><b>Processing</b> {{(coffeeToDisplay | async)?.processing}}</p>
      <p><b>Elevation</b> {{(coffeeToDisplay | async)?.elevation}}</p>
      <br>
      <p><b>UPON TASTING:</b></p>
      <p>{{(coffeeToDisplay | async)?.taste}}</p>
      <hr>
      <p><b>Description:</b></p>
      <p>{{(coffeeToDisplay | async)?.description}}</p>

    </div>
  </div>
</div>
