<div class="container">
  <div class="col-md-8">
  <div class="card border-info mb-3" id="admin-text">
    <div class="card-header">
      Add New Coffee to Inventory
    </div>

    <div class="card-body">

      <div>
        <label for="name">Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Price:</label>
        <br>
        <input #newPrice>
      </div>

      <div>
        <label>Region:</label>
        <br>
        <input #newRegion>
      </div>

      <div>
        <label>Producer:</label>
        <br>
        <input #newProducer>
      </div>

      <div>
        <label>Cultivar:</label>
        <br>
        <input #newCultivar>
      </div>

      <div>
        <label>Processing:</label>
        <br>
        <input #newProcessing>
      </div>

      <div>
        <label>Elevation:</label>
        <br>
        <input #newElevation>
      </div>

      <div>
        <label>Taste:</label>
        <br>
        <input #newTaste>
      </div>

      <div>
        <label>Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>
    </div>
    <div>
    <button type="button" class="btn btn-info" (click)="submitForm(newName.value, newPrice.value, newRegion.value, newProducer.value, newCultivar.value, newProcessing.value, newElevation.value, newTaste.value, newDescription.value); newName.value=''; newPrice.value=''; newRegion.value=''; newProducer.value=''; newCultivar.value=''; newProcessing.value=''; newElevation.value=''; newTaste.value=''; newDescription.value=''">Add</button>
      </div>
    </div>
  </div>
  <hr>
  <div id="admin-text">
    <app-coffee></app-coffee>
  </div>
</div>
