<div class="container">

<h1 id="coffee-text">Our Coffees</h1>
<hr>
  <p>
    Lorem ipsum dolor sit amet, aliquam sem voluptas aliquam lorem, proin purus mauris eleifend tincidunt pharetra. In sit, est est convallis odio amet consequat turpis, vestibulum metus facilisis tristique wisi integer dictum, pede massa sed fusce sem eu inceptos. Est ut donec, ornare vitae justo lacus id, et nulla id nec soluta. Condimentum urna sed turpis tempor tempor mauris. Tellus mi duis nunc montes curae ultrices, diam magnis metus aliquet semper egestas, cursus egestas, neque etiam sit lorem volutpat etiam semper. Morbi a in, pretium et suscipit at sed, porttitor eget. Morbi at duis, fermentum turpis.
  </p>
</div>
