<hr>
<h4>Edit Album</h4>

<label>New Coffee Name:</label>
<input [(ngModel)]="selectedCoffee.name">
<br>

<label>New Coffee Price:</label>
<input [(ngModel)]="selectedCoffee.price">
<br>

<label>New Coffee newRegion:</label>
<input [(ngModel)]="selectedCoffee.region">
<br>

<label>New Coffee Producer:</label>
<input [(ngModel)]="selectedCoffee.producer">
<br>

<label>New Coffee Cultivar:</label>
<input [(ngModel)]="selectedCoffee.cultivar">
<br>

<label>New Coffee Processing:</label>
<input [(ngModel)]="selectedCoffee.processing">
<br>

<label>New Coffee Elevation:</label>
<input [(ngModel)]="selectedCoffee.elevation">
<br>

<label>New Coffee Taste:</label>
<input [(ngModel)]="selectedCoffee.taste">
<br>

<label>New Coffee Description:</label>
<input [(ngModel)]="selectedCoffee.description">

<button type="button" class="btn btn-info" (click)="beginUpdatingCoffee(selectedCoffee)">Update</button>
<button type="button" class="btn btn-danger" (click)="beginDeletingCoffee(selectedCoffee)">Delete</button>
